In [1]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.0f}'.format
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')
import math
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# alls = pd.read_csv('all.csv')
# store = pd.read_csv('store.csv',encoding='cp1252')
# cust = pd.read_csv('cust.csv')
# cust.drop('new_customer_name (populate distinct names from any open dataset)',axis=1 , inplace=True)

# al = alls.store_code.unique()
# st = store.store_code.unique()
# store_code_avl_in_st_notin_all = set(st) - set(al) #4
# store_code_avl_in_all_notin_st = set(al) - set(st) #3

# for x in store_code_avl_in_st_notin_all:
#     alls = alls.append({'store_code' : x} , ignore_index=True)
# for x in store_code_avl_in_all_notin_st:
#     store = store.append({'store_code' : x} , ignore_index=True)
# allcust = pd.merge(alls, cust, on='customer_mobile')
# allmerge = pd.merge(allcust, store, on='store_code')

# allmerge = allmerge.dropna(subset=['store_code','gender','state','amount','state','store_name','store_category'],how='all')


# gend = allmerge[allmerge['gender'].isna()]

# allmerge = allmerge.dropna(subset=['gender'],how='all')

# women = ["Accessories","Accessories,Gifts & Toys","Accessories,Jewellery","Accessories,Jewellery,Women's Fashion","Accessories,Men's Fashion","Accessories,Sports & Fitness,Women's Fashion,Men's Fashion","Accessories,Women's Fashion","Accessories,Women's Fashion,Men's Fashion","Beauty & Grooming","Electronics,Kids Fashion,Accessories,Grocery & Household,Home & Lifestyle,Women's Fashion,Men's Fashion,Books and Stationery,Gifts & Toys","Entertainment & Leisure","Food & Beverage","Food & Beverage,Grocery & Household","Gifts & Toys","Grocery & Household","Health & Wellness","Home & Lifestyle","Jewellery","Kids Fashion","Kids Fashion,Accessories","Kids Fashion,Accessories,Women's Fashion,Men's Fashion","Kids Fashion,Women's Fashion,Men's Fashion","Travel","Women's Fashion","Women's Fashion,Men's Fashion"]

# men = ["Books and Stationery,Gifts & Toys","Electronics","Electronics,Entertainment & Leisure","Jewellery,Gifts & Toys","Men's Fashion","Sports & Fitness","Sports & Fitness,Women's","Fashion,Men's Fashion","Travel,Accessories,Sports & Fitness"]

# for x in men:
#     gend.loc[gend['store_category'] == x, ['gender']] = 'Male'

# for x in women:
#     gend.loc[gend['store_category'] == x, ['gender']] = 'Female'

# df = pd.concat([allmerge,gend], axis=0)
# df.to_csv('Semi.csv' , )

In [7]:
df = pd.read_csv('semids.csv')

In [8]:
df

,billing_timestamp,transaction_type,amount,points,store_code,customer_mobile,created_at,gender,state,tier,store_name,store_location,store_category,store_PriceCategory
0,2019-03-19 16:18:00 +0530,adjustment,nan,100,NaN,257834840425,2019-03-19 15:42:48 +0530,Female,Maharashtra,Blue Member,NaN,NaN,NaN,NaN
1,2019-03-19 16:18:00 +0530,adjustment,nan,100,NaN,256578746946,2019-03-19 15:42:52 +0530,Female,Maharashtra,Blue Member,NaN,NaN,NaN,NaN
2,2019-03-19 16:18:00 +0530,adjustment,nan,100,NaN,243600755221,2019-03-19 15:38:05 +0530,Female,Maharashtra,Silver Member,NaN,NaN,NaN,NaN
3,2019-03-19 16:18:12 +0530,adjustment,nan,50,NaN,243600755221,2019-03-19 15:38:05 +0530,Female,Maharashtra,Silver Member,NaN,NaN,NaN,NaN
4,2019-03-19 16:18:00 +0530,adjustment,nan,100,NaN,256618998303,2019-03-19 15:38:09 +0530,Female,Maharashtra,Blue Member,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358068,2019-08-06 00:00:00 +0530,purchase,2184,44,IMM00233,243587781545,2019-08-06 22:14:25 +0530,Female,NaN,Blue Member,Specstore,Emerald Mall,Accessories,Premium
358069,2019-08-24 00:00:00 +0530,purchase,4816,96,IMM00233,234034734104,2019-08-24 16:29:03 +0530,Female,NaN,Blue Member,Specstore,Emerald Mall,Accessories,Premium
358070,2019-08-27 18:39:44 +0530,purchase,7990,160,IMM00021,259225635282,2019-08-29 10:33:03 +0530,Female,NaN,Blue Member,Adam Luggage,Emerald Mall,Travel,Premium
358071,2019-08-03 00:00:00 +0530,purchase,150,3,IMA00075,200323966990,2019-08-04 00:11:32 +0530,Male,NaN,Blue Member,Handcrafted,Diamond Mall,Electronics,Premium
358072,2019-04-30 13:36:59 +0530,purchase,180,2,TEST0001,218370580286,2019-05-18 11:49:32 +0530,NaN,NaN,Blue Member,Triage Sportswear,Emerald Mall,NaN,Premium

In [31]:
# cd = pd.crosstab(columns=[allmerge.gender],index=[allmerge.store_category],margins=True,normalize='index')
# sns.heatmap(pd.crosstab(allmerge.store_category, allmerge.gender),cmap="YlGnBu", annot=True, cbar=False)

In [0]:
['amount','store_code','gender','state','store_name','store_location','store_category','store_PriceCategory']

In [40]:
df[(df['store_location'].isnull()&df['store_name'].isnull()&df['gender'].isnull()&df['state'].isnull())].customer_mobile.nunique()

16

In [1]:
# df[(df['store_location'].isnull()&df['store_name'].isnull()&df['gender'].isnull()&df['state'].isnull())]