In [3]:
# Ignore  the warnings
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

from sklearn import preprocessing
mi = preprocessing.MinMaxScaler()
pd.options.display.max_columns = None

In [20]:
ds1 = pd.read_csv('all_credit_ledger.csv',encoding='cp1252')
ds2 = pd.read_csv('customer-tier.csv',encoding='cp1252')
ds3 = pd.read_csv('Store.csv', encoding='cp1252')

In [21]:
# All Columns

In [22]:
ds1.columns

Index(['billing_timestamp', 'transaction_type', 'amount', 'points',
       'store_code', 'customer_mobile'],
      dtype='object')

In [23]:
ds2.columns

Index(['billing_timestamp', 'transaction_type', 'amount', 'points',
       'store_code', 'customer_mobile'],
      dtype='object')

In [24]:
ds3.columns

Index(['store_name', 'store_code', 'store_location', 'store_category',
       'store_PriceCategory'],
      dtype='object')

In [11]:
ds1

,store_name,store_code,store_location,store_category,store_PriceCategory
0,Kansas Denims,IMM00033,Emerald Mall,"Women's Fashion,Men's Fashion",Premium
1,Homosapiens,IMM00020,Emerald Mall,"Women's Fashion,Men's Fashion",Premium
2,Rocket Swims,IMM00153,Emerald Mall,"Sports & Fitness,Women's Fashion,Men's Fashion",Premium
3,Spade & Yard,IMM00027,Emerald Mall,Gifts & Toys,Value
4,Pondicherry,IMM00008,Emerald Mall,"Accessories,Women's Fashion",Premium
...,...,...,...,...,...
554,Red Stripes,IMA00055,Diamond Mall,Food & Beverage,Value
555,Red Stripes,IMM00202,Emerald Mall,Food & Beverage,Value
556,Plantorganics,NA-IMA0117,Diamond Mall,Beauty & Grooming,Premium
557,Tnt Gold,NA-IMA0100,Diamond Mall,Entertainment & Leisure,Premium
558,Handcrafted,NA-IMM0113,Emerald Mall,Electronics,Premium

In [12]:
ds3

,store_name,store_code,store_location,store_category,store_PriceCategory
0,Kansas Denims,IMM00033,Emerald Mall,"Women's Fashion,Men's Fashion",Premium
1,Homosapiens,IMM00020,Emerald Mall,"Women's Fashion,Men's Fashion",Premium
2,Rocket Swims,IMM00153,Emerald Mall,"Sports & Fitness,Women's Fashion,Men's Fashion",Premium
3,Spade & Yard,IMM00027,Emerald Mall,Gifts & Toys,Value
4,Pondicherry,IMM00008,Emerald Mall,"Accessories,Women's Fashion",Premium
...,...,...,...,...,...
554,Red Stripes,IMA00055,Diamond Mall,Food & Beverage,Value
555,Red Stripes,IMM00202,Emerald Mall,Food & Beverage,Value
556,Plantorganics,NA-IMA0117,Diamond Mall,Beauty & Grooming,Premium
557,Tnt Gold,NA-IMA0100,Diamond Mall,Entertainment & Leisure,Premium
558,Handcrafted,NA-IMM0113,Emerald Mall,Electronics,Premium

In [26]:
# Check Null Value

In [27]:
ds1.isna().sum()

billing_timestamp       0
transaction_type        0
amount               1908
points                  0
store_code           1909
customer_mobile         0
dtype: int64

In [28]:
ds2.isna().sum()

customer_id                                                              0
new_customer_name (populate distinct names from any open dataset)    50018
created_at                                                               0
gender                                                               25301
state                                                                 7184
tier                                                                     0
dtype: int64

In [29]:
ds3.isna().sum()

store_name               0
store_code               0
store_location           0
store_category         153
store_PriceCategory      0
dtype: int64